<aside>
	<div class="panel radius">
		<h3>About the Kora Café</h3>
		<p> I've loved the Kora since first hearing Toumani Diabate when I was at school. Since then, I've bought a lot of CDs, been to a lot of concerts, watched a lot of YouTube and finally decided to buy a kora and learn how to play. I've been a little frustrated at the lack of Kora information on the web, so decided to do something about it.
			
			
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
