<aside>
	<div class="panel radius">
		<h3>About the Kora Café</h3>
		<p> This website aims to bring together	information for fans of kora music and people learning to play the kora. We're planning to add much more information on musicians, culture and learning to play over the course of 2019.
		</p>
	</div>
<!–– This stuff commented out
 <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			Yes, it's a picture of a kitten!</a>
		</p>
	</div>
 ––>	
	
</aside>
